<html ng-app="emcinv">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    <script type="text/javascript" src="node_modules/angular-smart-table/dist/smart-table.js"></script>
    <script type="text/javascript" src="new_app.js"></script>
    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <title>EMC Bigger Data</title>
  </head>
  <body>
    <div ng-controller="InstallBaseController">
    <div class="btn-group" uib-dropdown is-open="status.isopen">
      <button id="customer-button" type="button" class="btn btn-primary" uib-dropdown-toggle>
        <span ng-bind="selectedCustomer"></span>
        <span class="caret"></span>
      </button>
      <ul uib-dropdown-menu aria-labelledby="customer-button">
        <li ng-repeat="customer in customerList">
          <a href ng-bind="customer.name" ng-click="setIB(customer)"></a>
        </li>
      </ul>
    </div>
    <br />
    <div class="tableContainer" id="smartTable">
      <table st-table="installData" st-safe-src="safeInstallData" class="table table-striped">
        <thead>
          <tr>
            <th st-sort="CS_CUSTOMER_NAME">Customer Name</th>
            <th st-sort="ITEM_SERIAL_NUMBER">S/N</th>
            <th st-sort="PRODUCT_FAMILY">Product</th>
            <th st-sort="MODEL">Model</th>
            <th st-sort="MICROCODE">Microcode</th>
            <th st-sort="City">City</th>
            <th st-sort="PARTY_NUMBER">SiteID</th>
            <th st-sort="ITEM_INSTALL_DATE">Install Date</th>
            <th st-sort="CONTRACT_SUBLINE_END_DATE">Contract End</th>
            <th st-sort="SYR_LAST_DIAL_HOME_DATE">Dial Home</th>
            <th st-sort="SALES_ORDER">Sales Order</th>
          </tr>
          <tr>
            <th colspan="6"><input st-search="" class="form-control" placeholder="search ..." type="text"/></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in installData">
            <td ng-bind="row.CS_CUSTOMER_NAME"></td>
            <td ng-bind="row.ITEM_SERIAL_NUMBER"></td>
            <td ng-bind="row.PRODUCT_FAMILY"></td>
            <td ng-bind="modelName(row.MODEL)"></td>
            <td ng-bind="row.MICROCODE"></td>
            <td ng-bind="row.City"></td>
            <td ng-bind="row.PARTY_NUMBER"></td>
            <td ng-bind="row.ITEM_INSTALL_DATE"></td>
            <td ng-bind="row.CONTRACT_SUBLINE_END_DATE"></td>
            <td ng-bind="row.SYR_LAST_DIAL_HOME_DATE"></td>
            <td ng-bind="row.SALES_ORDER"></td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </body>
</html>
